streamlit

langchain

langchain-community

langchain-groq

langchain-huggingface

faiss-cpu

sentence-transformers

duckdb

duckdb-engine

sqlalchemy

pandas

numpy

python-dotenv

scikit-learn

xgboost

joblib

plotly

supabase