streamlit

langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface

sentence-transformers
transformers

faiss-cpu

torch
torchvision

duckdb
duckdb-engine
sqlalchemy

pandas
numpy

python-dotenv

scikit-learn
xgboost
joblib

plotly

supabase

tabulate

tavily-python